body, html{
    height: 100%;
}

.bg-col{
    background-color: red;
}

.col-black{
    color: black;
}

.bg{
    /* background-image: url('download1.png');

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    background-color: rgb(240, 199, 199);
}

.margin-search{
    margin-top: 20%;
}

.modal .modal-header {
    color: black;
    background-color: red; 
}
.modal .modal-header .close {
    color: black; 
}
  
.modal .modal-body {
    background-color: #ffa6a6;
}

  
