<footer class="footer mt-4">
    <div class="d-sm-flex justify-content-center justify-content-sm-between row">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block col-md-12">A small initiative for community welfare</span>
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block col-md-12">Community welfare by - 'The Saviour'</span>
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block col-md-12">bloodhelper03@gmail.com</span>
      
    </div>
</footer>

<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">
          <div class="modal-header ">
              <h4 class="modal-title">Login</h4>
              <button type="button" class="close" id="loginModalButtonCancel">
                  &times;
              </button>
          </div>
          <div class="modal-body">
              <form action="/users/login" method="POST">
                  <div class="form-group">
                      <input type="email" id="email_login" name="email_login" class="form-control" placeholder="Enter Email" required/>
                  </div>
                  <div class="form-group">
                      <input type="password" id="password_login" name="password_login" class="form-control" placeholder="Enter Password" required/>
                  </div>
                  <p class="text-right mt-2"><a id="forgotModalButton" style="color: black;">Forgot Password</a></p>
                  <button type="submit" class="btn btn-primary btn-block">Login</button>
              </form>
          </div>
      </div>
  </div>
</div>

<div id="registerModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">
          <div class="modal-header ">
              <h4 class="modal-title">Register</h4>
              <button type="button" class="close" id="registerModalButtonCancel">
                  &times;
              </button>
          </div>
          <div class="modal-body">

              <form action="/users/register" method="POST">
                  <div class="form-group">
                      <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
                      value="<%= typeof name != 'undefined' ? name : '' %>"
                      required/>
                  </div>
                  <div class="form-group">
                      <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                      value="<%= typeof email != 'undefined' ? email : '' %>"
                      required/>
                  </div>
                  <div class="form-group">
                      <select id="blood_group" name="blood_group" class="form-control" required>
                          <option value="" selected disabled hidden>Choose your Blood Group here</option>
                          <option value="A+">A+</option>
                          <option value="A-">A-</option>
                          <option value="B+">B+</option>
                          <option value="B-">B-</option>
                          <option value="AB+">AB+</option>
                          <option value="AB-">AB-</option>
                          <option value="O+">O+</option>
                          <option value="O-">O-</option>                            
                      </select>
                  </div>
                  <div class="form-group">
                      <select id="state" name="state" class="form-control" required>
                          <option value="" selected disabled hidden>Choose your State here</option>
                          <option value="Andhra Pradesh">Andhra Pradesh</option>
                          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                          <option value="Assam">Assam</option>
                          <option value="Bihar">Bihar</option>
                          <option value="Chandigarh">Chandigarh</option>
                          <option value="Chhattisgarh">Chhattisgarh</option>
                          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                          <option value="Daman and Diu">Daman and Diu</option>
                          <option value="Delhi">Delhi</option>
                          <option value="Lakshadweep">Lakshadweep</option>
                          <option value="Puducherry">Puducherry</option>
                          <option value="Goa">Goa</option>
                          <option value="Gujarat">Gujarat</option>
                          <option value="Haryana">Haryana</option>
                          <option value="Himachal Pradesh">Himachal Pradesh</option>
                          <option value="Jammu">Jammu</option>
                          <option value="Jharkhand">Jharkhand</option>
                          <option value="Kashmir">Kashmir</option>
                          <option value="Karnataka">Karnataka</option>
                          <option value="Kerala">Kerala</option>
                          <option value="Madhya Pradesh">Madhya Pradesh</option>
                          <option value="Maharashtra">Maharashtra</option>
                          <option value="Manipur">Manipur</option>
                          <option value="Meghalaya">Meghalaya</option>
                          <option value="Mizoram">Mizoram</option>
                          <option value="Nagaland">Nagaland</option>
                          <option value="Odisha">Odisha</option>
                          <option value="Punjab">Punjab</option>
                          <option value="Rajasthan">Rajasthan</option>
                          <option value="Sikkim">Sikkim</option>
                          <option value="Tamil Nadu">Tamil Nadu</option>
                          <option value="Telangana">Telangana</option>
                          <option value="Tripura">Tripura</option>
                          <option value="Uttar Pradesh">Uttar Pradesh</option>
                          <option value="Uttarakhand">Uttarakhand</option>
                          <option value="West Bengal">West Bengal</option>                        
                      </select>
                  </div>
                  <div class="form-group">
                      <input type="number" id="pincode" name="pincode" class="form-control" placeholder="Enter Pin Code" required/>
                  </div>
                  <label class="col-sm-4" for="dob">Enter Last Donated Blood Date</label>
                  <div class="form-group" id="last_donated_id">
                      <input type="date" id="last_donated" name="last_donated" class="form-control">
                  </div>
                  <label class="col-sm-4" for="dob">Enter Date of Birth</label>
                  <div class="form-group" id="dob_id">
                      <input type="date" id="dob" name="dob" class="form-control" placeholder="Enter Date of Birth" required>
                  </div>
                  <div class="form-group">
                      <input type="tel" id="phone" name="phone" class="form-control" placeholder="Enter Phone Number" required>
                  </div>
                  <div class="form-group">
                      <input type="password" id="password" name="password" class="form-control" placeholder="Create Password"
                      value="<%= typeof email != 'undefined' ? password : '' %>"
                      required/>
                  </div>
                  <div class="form-group">
                      <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
                      required/>
                  </div>
                  <div class="form-group">
                      <label for="available">Will you be available to give blood anytime ?</label><br>
                      <input type="radio" id="yes" name="available" value="true"  checked="checked">
                      <label for="yes">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="radio" id="no" name="available" value="false">
                      <label for="no">No</label>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Register</button>
              </form>
          </div>
      </div>
  </div>
</div>

<div id="forgotModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">
          <div class="modal-header ">
              <h4 class="modal-title">Forgot Password</h4>
              <button type="button" class="close" id="forgotModalButtonCancel">
                  &times;
              </button>
          </div>
          <div class="modal-body">
              <form class="mt-2" action="/users/forgotpassword" method="POST">
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email_forgot" name="email_forgot" class="form-control" placeholder="Enter Registered Email"
                      required/>
                      <label class="mt-2" for="dob">Enter Date of Birth</label>
                      <div class="form-group">
                          <input type="date" id="dob_forgot" name="dob_forgot" class="form-control" placeholder="Enter Date of Birth" required>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Send OTP</button>
              </form>
          </div>
      </div>
  </div>
</div>

<div id="otpModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">
          <div class="modal-header ">
              <h4 class="modal-title">Enter OTP</h4>
              <button type="button" class="close" id="otpModalButtonCancel">
                  &times;
              </button>
          </div>
          <div class="modal-body">
              <form class="mt-2" action="/users/checkotp" method="POST">
                  <div class="form-group">
                      <input type="password" id="otp" name="otp" class="form-control" placeholder="Enter OTP"
                      required/>
                  </div>
                  <div class="form-group">
                      <input type="password" id="password_otp" name="password_otp" class="form-control" placeholder="Enter New Password"
                      required/>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Change Password</button></a>
              </form>
          </div>
      </div>
  </div>
</div>


