<div class="row">
  <nav class="navbar navbar-dark fixed-top bg-col">
    <div class="col-md-2">
      <a href="/" class="font-weight-bold text-dark">Blood Helper</a>
    </div>

    <div class="offset-md-8 col-md-2">
      <span class="navbar-text">
        <!-- <a id="loginModalButton">
                    <span class="fa fa-sign-in"></span> Login
                </a>
                <a id="registerModalButton">
                    <span class="fa fa-envelope"></span> Register
                </a> -->
        <a href="/users/update"> Update</a>&nbsp;&nbsp;
        <a href="/users/logout"> Logout</a>
      </span>
    </div>
  </nav>
</div>

<div class="mt-5 text-center"><%- include ('./partials/messages') %></div>

<div class="row mt-5">
  <div class="col-md-6 mt-5">
    <div class="row">
      <div class="col-sm-6 font-weight-bold">Name</div>
      <div class="col-sm-6"><%- response.name %></div>
      <br /><br />
      <div class="col-sm-6 font-weight-bold">Blood Group</div>
      <div class="col-sm-6"><%- response.blood_group %></div>
      <br /><br />
      <div class="col-sm-6 font-weight-bold">Blood Donated Dates</div>
      <div class="col-sm-6">
        <% for(let i=0; i<=len; i++){ %>
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <th class="font-weight-light"><%- response.last_donated[i] %></th>
            </tr>
            <% if(i===len){ %>
            <tr>
              <th>&nbsp;</th>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% } %>
      </div>
      <br /><br />
      <div class="col-sm-6 font-weight-bold">Pin Code</div>
      <div class="col-sm-6"><%- response.pincode %></div>
      <br /><br />
      <div class="col-sm-6 font-weight-bold">State</div>
      <div class="col-sm-6"><%- response.state %></div>
    </div>
  </div>
  <div class="col-md-6 mt-5">
    <div class="card">
      <h3 class="card-header bg-primary text-white">Add New Donation Record</h3>
      <div class="card-body">
        <form action="/users/adddate" method="POST">
          <dl class="row">
            <dt class="col-6">Donated Date</dt>
            <dd class="col-6">
              <input type="date" id="futuredate" name="newdate" />
            </dd>
            <dt class="offset-6 col-6">
              <button type="submit" class="mt-4 btn btn-dark">Add Date</button>
            </dt>
          </dl>
        </form>
      </div>
    </div>
  </div>
</div>

<div><%- include ('./partials/footer') %></div>
