<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../bootstrap.min.css"> -->
    <link rel="stylesheet" href="../bootstrap.css" />
    <link rel="stylesheet" href="../font-awesome.min.css" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="manifest" href="../manifest.json" />
    <title>Blood Donation</title>
  </head>
  <body class="bg" onload="validDate()">
    <div class="container"><%- body %></div>

    <script src="../jquery.slim.min.js"></script>
    <script src="../popper.min.js"></script>
    <script src="../bootstrap.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        $("#loginModalButton").click(function () {
          $("#loginModal").modal("toggle");
        });
        $("#loginModalButtonCancel").click(function () {
          $("#loginModal").modal("toggle");
        });
        $("#registerModalButton").click(function () {
          $("#registerModal").modal("toggle");
        });
        $("#registerModalButtonCancel").click(function () {
          $("#registerModal").modal("toggle");
        });
        $("#forgotModalButton").click(function () {
          $("#loginModal").modal("toggle");
          $("#forgotModal").modal("toggle");
        });
        $("#forgotModalButtonCancel").click(function () {
          $("#forgotModal").modal("toggle");
        });
        $("#otpModalButton").click(function () {
          $("#otpModal").modal("toggle");
        });
        $("#otpModalButtonCancel").click(function () {
          $("#otpModal").modal("toggle");
        });
      });
    </script>

    <script>
      function getInputDateFormat(date) {
        return date.toISOString().split("T")[0];
      }

      function validDate() {
        var today = new Date();
        var maxDate = new Date();
        maxDate.setDate(maxDate.getDate() - 18 * 365);

        //   document.getElementsByName("date")[0].setAttribute('min', getInputDateFormat(today));
        document
          .getElementsByName("last_donated")[0]
          .setAttribute("max", getInputDateFormat(today));
        document
          .getElementById("dob")
          .setAttribute("max", getInputDateFormat(maxDate));
        document
          .getElementsByName("newdate")[0]
          .setAttribute("max", getInputDateFormat(today));

        console.log(document.getElementById("last_donated"));
        console.log(document.getElementsByName("last_donated"));
      }
    </script>

    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall"
    ></script>
  </body>
</html>
