<div class="row">
  <nav class="navbar navbar-dark fixed-top bg-col">
    <div class="col-sm-2">
      <a href="/" class="font-weight-bold text-dark">Blood Helper</a>
    </div>

    <div class="offset-sm-8 col-sm-2">
      <span class="navbar-text">
        <% if(iduser === '' || iduser === 'undefined') { %>
        <a href="#" id="loginModalButton"> Login</a>&nbsp;&nbsp;
        <a href="#" id="registerModalButton"> Register </a>
        <% } else {%>
        <a href="/users/login"> Dashboard</a> &nbsp;&nbsp;
        <a href="/search/logout"> Logout</a>
        <% } %>
      </span>
    </div>
  </nav>
</div>

<div class="mt-5 text-center"><%- include ('./partials/messages') %></div>

<div class="row row-content">
  <div class="offset-md-1 col-sm-12 col-md-10 mt-5">
    <% if (matched_entries <= 0) { %>
    <div class="offset-sm-4 col-sm-4 text-center font-weight-bold">
      No data available in this Pin Code
      <br />
      Try another Pin Code search
    </div>
    <% } else { %>
    <h2 class="mt-5">Results</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Last Donated</th>
            <th>Blood Group</th>
            <th>Pincode</th>
            <th>Mail Content</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < matched_entries; i++){ var len =
          response[i].last_donated.length - 1; %>
          <tr>
            <form action="/search/mail" method="POST">
              <input
                type="text"
                id="response"
                name="response"
                value="<%=response %>"
                hidden
              />
              <input
                type="text"
                id="matched_entries"
                name="matched_entries"
                value="<%=matched_entries %>"
                hidden
              />
              <input
                type="text"
                id="email"
                name="email"
                value="<%=response[i].email %>"
                hidden
              />
              <th><%- i+1 %></th>
              <th><%- response[i].name %></th>
              <th><%- response[i].last_donated[len] %></th>
              <th><%- response[i].blood_group %></th>
              <th><%- response[i].pincode %></th>
              <th>
                <textarea
                  id="mail_content"
                  name="mail_content"
                  placeholder="Enter details for the donor to contact you"
                ></textarea>
              </th>
              <th>
                <button type="submit" class="btn btn-primary">Send Mail</button>
              </th>
            </form>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% } %>
  </div>
</div>

<div><%- include ('./partials/footer') %></div>
