<div class="row">
  <nav class="navbar navbar-dark fixed-top bg-col">
    <div class="col-md-2">
      <a href="/" class="font-weight-bold text-dark">Blood Helper</a>
    </div>

    <div class="offset-md-8 col-md-2">
      <span class="navbar-text">
        <!-- <a id="loginModalButton">
                    <span class="fa fa-sign-in"></span> Login
                </a>
                <a id="registerModalButton">
                    <span class="fa fa-envelope"></span> Register
                </a> -->
        <a href="/users/login"> Dashboard</a>&nbsp;&nbsp;
        <a href="/users/logout"> Logout</a>
      </span>
    </div>
  </nav>
</div>

<div class="mt-5 text-center"><%- include ('./partials/messages') %></div>

<div class="row mt-5">
  <div class="col-md-12 mt-5">
    <form action="update" method="POST">
      <div class="row">
        <div class="col-sm-6 font-weight-bold">Name</div>
        <input
          type="text"
          class="form-control col-sm-6"
          name="name"
          id="name"
          value="<%= response.name %>"
        />
        <br /><br />
        <div class="col-sm-6 font-weight-bold">E-Mail Address</div>
        <input
          type="text"
          class="form-control col-sm-6"
          name="email"
          id="email"
          value="<%= response.email %>"
        />
        <br /><br />
        <div class="col-sm-6 font-weight-bold">Pin Code</div>
        <input
          type="text"
          class="form-control col-sm-6"
          name="pincode"
          id="pincode"
          value="<%= response.pincode %>"
        />
        <br /><br />
        <div class="col-sm-6 font-weight-bold">Phone</div>
        <input
          type="text"
          class="form-control col-sm-6"
          name="phone"
          id="phone"
          value="<%= response.phone %>"
        />
        <br /><br />
        <div class="col-sm-6 font-weight-bold">State</div>
        <div class="col-sm-6">
          <select id="state" name="state" class="form-control" required>
            <option value="<%= response.state %>" selected>
              <%= response.state %>
            </option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Andaman and Nicobar Islands">
              Andaman and Nicobar Islands
            </option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Dadar and Nagar Haveli">
              Dadar and Nagar Haveli
            </option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Puducherry">Puducherry</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu">Jammu</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Kashmir">Kashmir</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="West Bengal">West Bengal</option>
          </select>
        </div>
        <input
          class="offset-6 mt-4 btn btn-dark"
          type="submit"
          value="Update"
        />
      </div>
    </form>
  </div>
</div>

<div><%- include ('./partials/footer') %></div>
