<div class="row">
  <nav class="navbar navbar-dark fixed-top bg-col">
    <div class="col-sm-2">
      <a href="/" class="font-weight-bold text-dark">Blood Helper</a>
    </div>

    <div class="offset-sm-8 col-sm-2">
      <span class="navbar-text">
        <% if(iduser === '' || iduser === 'undefined') { %>
        <a href="#" id="loginModalButton"> Login</a>&nbsp;&nbsp;
        <a href="#" id="registerModalButton"> Register </a>
        <!-- <a href="/users/check"> Check &nbsp;</a> -->
        <% } else if(iduser.length === 7) {%>
        <a id="otpModalButton"> Enter OTP </a>&nbsp; <% } else {%>
        <a href="/users/login"> Dashboard</a>&nbsp;&nbsp;
        <a href="/users/logout"> Logout</a>
        <% } %>
      </span>
    </div>
  </nav>
</div>

<div class="mt-5 text-center"><%- include ('./partials/messages') %></div>

<img class="mt-5 offset-sm-4 col-sm-4" src="../images.jpg" alt="" />

<div class="row mt-2">
  <div class="col-sm-6 m-auto">
    <div class="mt-5">
      <h1></h1>
      <form action="/search" method="POST">
        <div class="form-group">
          <select
            id="blood_group_search"
            name="blood_group"
            class="form-control"
            required
          >
            <option value="" selected disabled hidden>
              Choose your Blood Group here
            </option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
          </select>
        </div>
        <div class="form-group">
          <input
            type="number"
            id="pincode_search"
            name="pincode"
            class="form-control"
            placeholder="Enter Pin Code"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Search</button>
      </form>
    </div>
  </div>
</div>

<div><%- include ('./partials/footer') %></div>
