<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Forgot Password</h1>

            <div class="text-center"><%- include ('./partials/messages') %></div>

            <form class="mt-2" action="/users/forgotpassword" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Registered Email"
                    required/>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Send Password</button>
            </form>
            <p class="text-center lead mt-4">Don't have an Account? <a href="/users/register">Register</a></p>
            <p class="text-center lead mt-2">Have an Account? <a href="/users/login">Login</a></p>
        </div>
    </div>
</div>