<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Login</h1>

            <div class="text-center"><%- include ('./partials/messages') %></div>

            <form action="/users/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="text-right mt-2" style="color: blue;"><a href="/users/forgotpassword">Forgot Password</a></p>
            <p class="text-center lead mt-4">Don't have an Account? <a href="/users/register">Register</a></p>
        </div>
    </div>
</div>