<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Register</h1>

            <div class="text-center"><%- include ('./partials/messages') %></div>

            <form action="/users/register" method="POST">
                <div class="form-group">
                    <!-- <label for="name">Name</label> -->
                    <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
                    value="<%= typeof name != 'undefined' ? name : '' %>"
                    required/>
                </div>
                <div class="form-group">
                    <!-- <label for="email">Email</label> -->
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                    required/>
                </div>
                <div class="form-group">
                    <!-- <label for="aadhar">Aadhar Number</label> -->
                    <input type="text" id="aadhar" name="aadhar" class="form-control" placeholder="Enter Aadhar Number"
                    required/>
                </div>
                <div class="form-group">
                    <!-- <label for="blood_group">Choose your Blood Group</label> -->
                    <select id="blood_group" name="blood_group" class="form-control" required>
                        <option value="" selected disabled hidden>Choose your Blood Group here</option>
                        <option value="ap">A+</option>
                        <option value="an">A-</option>
                        <option value="bp">B+</option>
                        <option value="bn">B-</option>
                        <option value="abp">AB+</option>
                        <option value="abn">AB-</option>
                        <option value="op">O+</option>
                        <option value="on">O-</option>
                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="state">Choose your State</label>
                    <select id="state" name="state" class="form-control" required>
                        <option value="" selected disabled hidden>Choose your State here</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu">Jammu</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Kashmir">Kashmir</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="pincode">Pin Code</label>
                    <input type="number" id="pincode" name="pincode" class="form-control" placeholder="Enter Pin Code" required/>
                </div>
                <div class="form-group">
                    <label for="last_donated">Last blood donated date</label>
                    <input type="date" id="last_donated" name="last_donated" class="form-control">
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" id="dob" name="dob" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="phone" class="form-control" placeholder="Enter Phone Number" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Create Password"
                    value="<%= typeof email != 'undefined' ? password : '' %>"
                    required/>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
                    value="<%= typeof email != 'undefined' ? password2 : '' %>"
                    required/>
                </div>
                <div class="form-group">
                    <label for="available">Will you be available to give blood anytime ?</label><br>
                    <input type="radio" id="yes" name="available" value="true"  checked="checked">
                    <label for="yes">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="no" name="available" value="false">
                    <label for="no">No</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register and Login</button>
            </form>
            <p class="text-center lead mt-4">Have an Account? <a href="/users/login">Login</a></p>
        </div>
    </div>
</div>