<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Search</h1>

            <div class="text-center"><%- include ('./partials/messages') %></div>

            <form action="/search" method="POST">
                <div class="form-group">
                    <label for="blood_group">Choose your Blood Group</label>
                    <select id="blood_group" name="blood_group" class="form-control" required>
                        <option value="" selected disabled hidden>Choose your Blood Group here</option>
                        <option value="ap">A+</option>
                        <option value="an">A-</option>
                        <option value="bp">B+</option>
                        <option value="bn">B-</option>
                        <option value="abp">AB+</option>
                        <option value="abn">AB-</option>
                        <option value="op">O+</option>
                        <option value="on">O-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pincode">Pin Code</label>
                    <input type="number" id="pincode" name="pincode" class="form-control" placeholder="Enter Pin Code" required/>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </form>
            <p class="text-center lead mt-4">Don't have an Account? <a href="/users/register">Register</a></p>
            <p class="text-center lead mt-2">Have an Account? <a href="/users/login">Login</a></p>
        </div>
    </div>
</div>